.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-margin-half {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mb-5\.5 {
  margin-bottom: 2rem;
}

.text-margin-full {
  margin-top: 1em;
  margin-bottom: 1em;
}

.svg-as-font {
  margin-bottom: -4px;
}

.content-container {
  padding: 16px;
}

.inner-pad {
  padding: 16px 0;
}

img {
  object-fit: cover;
}

.old-price {
  text-decoration-line: line-through;
  color: rgba(74, 74, 74, 0.5);
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.select.half {
  width: 50%;
  max-width: 250px;
  @media screen and (max-width: 768px) {
    & {
      width: 100%;
      max-width: 100%;
    }
  }

  select {
    width: 100%;
  }
}

.right-fix {
  margin-left: auto;
}

a[disabled="disabled"] {
  pointer-events: none;
}

.contain {
  object-fit: contain;
}
